<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AmeCMS后台管理系统</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="assets/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/ionicons/2.0.0/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/adminlte/2.4.3/css/AdminLTE.min.css">
  <link rel="stylesheet" href="assets/icheck/1.0.1/square/blue.css">
  <link rel="stylesheet" href="assets/layui/2.2.5/css/layui.css">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="login.html"><b>Ame</b>管理系统</a>
  </div>
  <!-- 登录Logo -->
  <div class="login-box-body">
    <p class="login-box-msg">登录</p>

    <form>
      <div class="form-group has-feedback">
        <input type="input" id="username" class="form-control" placeholder="用户名">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" id="password" class="form-control" placeholder="密码">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox" id="rememberme"> 记住我
            </label>
          </div>
        </div>
        <div class="col-xs-4">
          <button type="button" id="btnLogin" class="btn btn-primary btn-block btn-flat">登录</button>
        </div>
      </div>
    </form>

    <!--<div class="social-auth-links text-center">-->
      <!--<p>- OR -</p>-->
      <!--<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using-->
        <!--Facebook</a>-->
      <!--<a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using-->
        <!--Google+</a>-->
    <!--</div>-->

    <!--<a href="#">忘记密码</a><br>-->
    <!--<a href="register.html" class="text-center">注册</a>-->

  </div>
</div>

<!-- 引入第三方JS组件 -->
<script src="assets/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/icheck/1.0.1/icheck.min.js"></script>
<script src="assets/plugins/jquery.cookie.js"></script>
<script src="assets/layui/2.2.5/layui.js"></script>

<!-- 引入页面内JS组件 -->
<script src="js/media/util.js"></script>
<script src="js/media/login.js"></script>

</body>
</html>
